@import url('https://fonts.cdnfonts.com/css/gotham-rounded');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Gotham-Rounded;
    src: url('./fonts/gotham-rounded/GothamRoundedBook_21018.ttf');/* IE */
}

@font-face{
    font-family: Gotham-Rounded-Medium;
    src: url('./fonts/gotham-rounded/GothamRoundedMedium_21022.ttf');/* IE */
}

@font-face{
    font-family: Gotham-Rounded-Bold;
    src: url('./fonts/gotham-rounded/GothamRoundedBold_21016.ttf');/* IE */
}

body {
    font-family: Gotham-Rounded;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @apply bg-brand-grey;
}

@import '../components/Tag/Tag.scss';
@import '../components/Pill/Pill.scss';
@import '../components/Sidebar/Sidebar.scss';
@import '../components/Footer/Footer.scss';
@import '../components/Header/Header.scss';
@import '../components/SearchBox/Searchbox.scss';
@import '../components/BaseLayout/BaseLayout.scss';
@import '../components/PinaField/Field.scss';