.content {
  width: calc(100vw - 8rem);
  height: calc(100vh - 11rem);

  @apply absolute flex top-20 left-32 pl-16 overflow-auto;

  .stock-data {
    @apply py-8 w-fit float-left mb-5;
    .pina-card {
      @apply bg-basic-12 rounded-2xl p-5 gap-4 w-fit h-fit mb-5;

      .pina-pills-container {
        font-family: Gotham-Rounded-Bold;
        @apply flex flex-row w-full mt-2 justify-between;
      }

      &.ihsg-card {
        width: 780px;
        height: 349px;
        .detail-instrument {
          @apply flex flex-row justify-between;

          .emitent {
            @apply flex flex-row gap-4 items-center;

            .emitent-name {
              font-family: Gotham-Rounded-Bold;
              @apply flex flex-col text-base text-brand-black;

              p:last-child {
                font-family: Gotham-rounded;
                @apply text-brand-text-grey text-xs;
              }
            }
          }
          .performances {
            font-family: Gotham-Rounded-Bold;
            @apply flex flex-col text-base text-brand-black text-right;

            p:last-child {
              font-family: Gotham-rounded;
              @apply text-brand-text-green text-xs;
            }
          }
        }

        .chart-container{
          @apply mt-4;
        }

        .pina-tags-container {
          font-family: Gotham-Rounded-Bold;
          @apply flex flex-row w-full mt-2 gap-2;
        }
      }

      &.emitent-content {
        width: 780px;
        height: 467px;
        @apply mb-5;
  
        .pina-pills-container {
          @apply justify-start gap-2;
        }
  
        .content-container {
          @apply flex flex-row gap-5 mt-5;
          h2 {
            font-family: Gotham-Rounded-Bold;
            @apply mb-3 text-base;
          }
          .statistic-left-content {
            &.active{
              display: block
            }
  
            &.inactive{
              display: none;
            }
            @apply flex-1;
  
            h2:not(:first-child){
              @apply mt-4;
            }
          }
  
          .statistic-right-content {
  
            &.active{
              display: block
            }
  
            &.inactive{
              display: none;
            }
  
            @apply flex-1;
  
            h2:not(:first-child){
              @apply mt-4;
            }
          }
        }
      }
    }
  }

  .stock-data::-webkit-scrollbar {
    display: none;
  }

  aside {
    @apply ml-5 py-8 sticky top-0;
    .pina-card {
      @apply bg-basic-12 rounded-2xl p-5 gap-4 w-fit h-fit p-0;
      .checkout-card {
        width: 380px;
        height: 429px;

        .MuiTabs-flexContainer {
          @apply flex justify-around pt-5;

          .Mui-selected {
            @apply text-brand-orange;
          }
        }

        .checkout-content {
          @apply text-brand-text-grey text-xxs p-5;
          p:nth-child(2) {
            font-family: Gotham-Rounded-Bold;
            @apply text-sm text-brand-black mt-2;
          }

          .pina-subtotal {
            @apply flex flex-row justify-between items-center mt-2;

            p:nth-child(2) {
              font-family: Gotham-Rounded-Bold;
              @apply text-sm text-brand-black mt-0;
            }
          }

          .divider {
            @apply flex flex-row border w-full border-brand-border-grey mt-2 cursor-default;
          }
        }
      }
    }
  }

}
